body {
  background-image: url("images/black.jpg");
}
#page-wrapper {
	
}
#header{
	
}
#header h1 {
  position: absolute;
  left: 420px;
  top:5px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: #E35335;	
}
#header a#logo1 img {
	
}
#header #toplink {
	
}
#footer {
	
}
#content-wrapper {
	
}
#main-content {
	
}
h2 strong {
	
}
.image-r {
	
}
#side-content {
	
}
#main-nav {
	
}
#main-nav ul {
	
}
#main-nav ul li {
  text-decoration: none;
  position: absolute;
  top:-34px;
  right: 10px;
  color: white;
  font-size: 1.8em;	
}
#main-nav ul li a {
	
}
#main-nav ul li a:hover {
	
}
#center {
	
}
strong {
	
}