body {
  background-image: url("../images/black.jpg");
}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
}

#header{
	
}

#header h1 {
  position: absolute;
  left: 420px;
  top:5px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: #E35335;	
}

#header a#logo1 img {
	
}

#header #toplink {
  text-decoration: none;
  position: absolute;
  top:-34px;
  right: 10px;
  color: white;
  font-size: 1.8em;	
}

#footer {
	
}

#content-wrapper {
  background-image: url("../images/repeating.png");
  float: left;	
}

#main-content {
	
}

h2 strong {
	
}

.image-r {
  float: right;
  border: 2px solid blue;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;	
}

#side-content {
  
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #333;	
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;	
}

#main-nav ul li {
  	
}

#main-nav ul li a {
  	
}

#main-nav ul li a:hover {
	
}

#center {
  width: 960px;
  text-align: center;
}

strong {
	
}